table {
    border-collapse: collapse;
    border-spacing: 0;
}

.product_list {
    border: 1px solid black;
    margin: 0 auto;
}

.product_list thead {
    background-color: antiquewhite;
}

.product_list tr {
    border-bottom: 1px solid #dddddd;
}

.product_list tr:last-child {
    border-bottom: 1px solid black;
}

.product_list tbody tr:nth-child(2) {
    background-color: #FFF5EE;
}

.product_list th {
    padding: 10px 0px;
}

.product_list td {
    padding: 10px 30px;
    text-align: center;
}