.wrap {
    width: 80%;
    margin: 0 auto;
}

.progress_bar {
    position: relative;
    background-color: #B6B6B4;
    height: 30px;
    border-radius: 15px;
}

.progress_bar::before {
    content: "";
    transition: .25s;
    position: absolute;
    width: 45%;
    background-color: black;
    height: 30px;
    top: 0;
    left: 0;
    border-radius: 15px 0 0 15px;
    animation: 3s 0.3s 1 bar_step;
}

@keyframes bar_step {
    from {
        width: 0%;
    }

    to {
        width: 45%;
    }
}